/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body a {
	text-decoration: none;
	color: gray;
}
header{
  color:gray;
  .main_header{
    background-color: rgb(220, 255, 231);
  }
  .sub_header {
    background-color: azure;
  }
}
body{
	margin-top:105px;
	font-family: 'Noto Sans JP', sans-serif;
}
.header-icon{
	font-size:25px;
}
.notice{
	color:green;
}
#error-explanation{
	color:red;
}

.header-item {
	text-align: center;
}

.flash-messages {
	text-align: center;
}

.navbar-right a {
	text-decoration: none;
	color: black;
}

.navbar-right p {
	font-size: 11px;
	line-height: 100%;
}