// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TOP
.top_image {
  width: 100%;
  height: 700px;
  // background-image: url(img/theater_D.jpeg);
  background-size: cover;
  background-position: center;
}
.top_message {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 1px black,
  -2px 2px 1px black,
  2px -2px 1px black,
  -2px -2px 1px black;
}
.top_logo {
  display: flex;
  justify-content: center;
  img {
    width: 330px;
    height: 330px;
  }
}
.event_search_form {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  input {
    width: 500px;
    border-radius:25px;
    line-height: 40px;
    outline:0;
  }
  button {
    line-height: 40px;
    border-radius:40px;
    width: 53px;
    background-color: paleturquoise;
    font-size: 20px;
  }
}
.search_buttons{
  display: flex;
  justify-content: center;
  padding: 20px;
  .event_search_button{
    margin: 10px;
  }
}

// イベント一覧
.event_list {
  display: flex;
  justify-content: center;
  padding: 30px;

  .event_info {
    border: 3px solid rgb(134, 29, 29);
    margin: 0 20px;
    border-radius: 10px;
    .event_start {
      background-color: rgb(134, 29, 29);
      width: 100%;
      color: white;
      font-size: 30px;
      padding: 10px 10px 1px 10px;
    }
    i {
      font-size: 30px;
    }
  }
}
.event_info_detail_wrapper {
  margin: 25px;
  h2 {
    text-align: center;
  }
  p {
    font-size: 15px;
  }
}

// クリックアイコン系
.click_events {
  display: flex;
  margin: 30px 0;
}
.click_icon {
  text-align: center;
  margin: 5px;
}
.click_events_wrapper {
  display: inline-block;
}


// イベント詳細
.head_info {
  display: flex;
  justify-content: center;

  .start_date, .hold_place {
    display: inline-block;
    margin: 10px;
    h3 {
      margin: 10px;
    }
  }
}
.main_info {
  display: flex;
}

.events_show_container {
  justify-content: center;
  padding: 30px;
}


// イベント新規追加
.events-form {
  .btn {
    margin: 5px;
    width: 100%;
  }
  .line-forms-wrapper{
    display: flex;
  }
  .line-forms {
    margin: 20px;
  }
}

.events-form-wrap {
  display: flex;
  justify-content: center;
}