// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place-form  {
  display: flex;
  justify-content: center;
  text-align: end;
}

#map, #nearmap {
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 80%;
}
#near_map {
  height: 700px;
  text-align:left;
  width: 50%;
}

.near_container {
  display: flex;
}
.near_place_list {
  width: 50%;
  padding: 0 30px;
  th {
    text-align: center;
  }
  h2 {
    text-align: center;
    background-color: rgb(172, 147, 37);
    padding: 5px;
    margin: 0 30px 30px 30px;
  }
}

#new_button {
  width: 100%;
  display: flex;
  justify-content: end;
}

.placeadmin_table {
  color: white;
}


// 現在地から探すページ
.search_result_container {
  color: white;
}
#near_map {
  color: black;
}
