// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head_title {
  background-color: white;
  border-radius: 50px;
  border: 2px solid gray;
  text-align: center;
  width: 30%;
  margin: 50px;
}
.my_link_menu {
  display: flex;
}

.schedule_table {
  width: 100%;
}

.mypage_main_contents {
  display: flex;
}

#my_map { 
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 50%;
}

#my_top_container {
  .head_wrap {
    display: flex;
    justify-content: center;
  }
}

.user-form  {
  display: flex;
  justify-content: center;
  text-align: end;
}

.arrow {
  text-align: center;
}


// モーダルの表示用
#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:1
}
#result{
	width:500px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:2px solid black;
	border-radius:20px;
	background-color: #AEEA00;
	display:none;
	padding:30px;
	z-index:2
}
#close{
	color:gray;
	border-radius:3px;
	font-size: 35px;
	position:absolute;
	top:2%;
	left:93%;
	transition:.4s;
}
#close:hover{
	color:#fff;
}

#modal-title {
	text-align: center;
	margin-bottom: 30px;
}
