// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head_title {
  border: 1px solid #811310;
  text-align: center;
  width: 50%;
	margin: 50px;
  color: white;
  position: relative;
  background-color: #811310;
}

.head_title::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #8c8c8c;
}

.my_link_menu {
  float: right;
}
.my_link_menu_wrapper {
  margin: 20px;
  margin-right: 80px;
}

.todays_header {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	background-color: rgb(172, 147, 37);
	border-radius: 5px;
}

.schedule_table {
	width: 100%;
	font-size: 14px;
	th {
		text-align: center;
	}
}

.mypage_main_contents {
  display: flex;
}

#my_map {
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 50%;
  color: black;
}

#my_top_container {
	color: white;
  .head_wrap {
    display: flex;
    justify-content: center;
  }
}

.user-form  {
  display: flex;
  justify-content: center;
  text-align: end;
}

.walk {
  text-align: center;
}

//カレンダー
#calendar {
	width: 900px;
	height: 700px;
	background-color: antiquewhite;
	border-radius: 20px;
	margin-bottom: 100px;
}
.fc-sun .fc-day-number {
	color: red;
}
.fc-sat .fc-day-number {
	color: blue;
}
.fc-day-header {
	background-color: white;
}
.fc-day {
	background-color: antiquewhite;
}


// モーダルの表示用
#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.3);
	display:none;
	z-index:1
}
#result{
	width:500px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: white;
	display:none;
	padding:30px;
	z-index:2
}
#close{
	color:gray;
	border-radius:3px;
	font-size: 35px;
	position:absolute;
	top:2%;
	left:93%;
	transition:.4s;
}
#close:hover{
	color:rgb(230, 230, 230);
}

#modal-title {
	text-align: center;
	margin-bottom: 30px;
}


// ログイン画面
.login_wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	label, em {
		color: white;
  }
  h2 {
    color: white;
    text-align: center;
  }
  .input_form {
    width: 100%;
  }
  .rememberme {
    display: flex;
    justify-content: right;
  }
  div {
    margin: 20px 0;
  }
  .login_form {
    font-size: 17px;
    a {color: white;}
  }
}

.snslogin {
	width: 100%;
	border-radius: 5px;
	background-color: rgb(172, 147, 37);
	color: white;
	border: none;
	text-align: center;
	margin: 5px 0;
}

.login_container {
  width: 30%;
	.actions input {
		@extend .snslogin;
		background-color: rgb(134, 29, 29);
	}
}

.back_image {
	width: 100%;
	height: 80%;
	background-image: url('./img/shibuyanight.jpg');
}

#favorites_container h4 {
  color: white;
  text-align: center;
}

// 通知
.notification {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
.header-item {
  position: relative;
}
#my_notification {
  width: 100%;
  background-color: #811310;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}


//レスポンシブ対応（スマホ向け）
@media screen and (max-width:425px) {

  .mypage_main_contents {
    display: block;
    #my_map {
      width: 100%;
    }
    .table {
      font-size: 12px;
    }
    .btn {
      font-size: 10px;
    }
    .table > tbody > tr > td {
      vertical-align: middle;
    }
  }
  .my_link_menu_wrapper {
    margin: 0;
    .btn {
      margin: 10px 2px;
      padding: 3px;
    }
  }
  .todays_header {
    font-size: 20px;
  }
  #calendar {
    width: 100%;
    height: 0px;
    padding-bottom: 270px;
  }
  #my_top_container h2 {
    font-size: 20px;
  }
  //modal
  #result {
    width: 100%;
    height: 350px;
  }
  .user-form {
    text-align: start;
    .btn {
      width: 100%;
    }
  }
  .login_container {
    width: 80%;
  }
}
