// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head_title {
  background-color: white;
  border-radius: 50px;
  border: 2px solid gray;
  text-align: center;
  width: 30%;
  margin: 30px;
}